
p{
    font-size:30px;
    color: white;
}
body{
    border :5px;
    background-color:black;
    border-style: solid;
}
span{
    background-color: aqua;
    color:white;
    font-size: 30px;
}
span{
    color:white;
    background-color: chocolate;
}
